<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <button
        class="btn btn-primary"
        (click)="onlyOdd = !onlyOdd">Only show odd numbers
      </button>
      <br><br>
      <ul class="list-group">
        <li
          *ngIf="onlyOdd" class="list-group-item"
        >
          <div
            *ngFor="let oddNumber of oddNumbers"
            [ngClass]="{odd: oddNumber % 2 !== 0}"
            [ngStyle]="{backgroundColor: oddNumber % 2 !== 0 ? 'yellow': 'inherit'}"
          >
            {{oddNumber}}
          </div>
        </li>
        <li
          *ngIf="!onlyOdd" class="list-group-item"
        >
          <div
            *ngFor="let evenNumber of evenNumbers"
            [ngClass]="{odd: evenNumber % 2 !== 0}"
            [ngStyle]="{backgroundColor: evenNumber % 2 !== 0 ? 'yellow': 'inherit'}"
          >
            {{evenNumber}}
          </div>
        </li>
      </ul>
      <p appBasicHighlight>Style me with basic directive!</p>
      <p appBetterHighlight>Style me with better directive!</p>
    </div>
  </div>
</div>
